#container {
    display: flex;
    background: red;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }
 
 header{
    background: lightblue;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }

 nav {
    flex: 0 1 20%;
    background: orange;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }
 
 main {
    flex: 0 1 60%;
    background: blue;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }
 
 aside {
    flex: 0 1 20%;
    background: yellow;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }

 footer {
    background: lightsalmon;
    font-size: 2em;
    text-align: center;
    width: 700px;
 }